<html>
    <head>
            <style>
                    ul {
                      list-style-type: none;
                      margin: 0;
                      padding: 0;
                      overflow: hidden;
                      background-color: #333;
                    }
                    
                    li {
                      float: left;
                    }
                    
                    li a{
                      display: block;
                      color: white;
                      text-align: center;
                      padding: 14px 16px;
                      text-decoration: none;
                    }
                    
                    li a p:hover {
                      background-color: #111;
                    }
                    </style>
    </head>
    <body onclick="myFunction()">
      <script>
          function myFunction() {
            location.reload();
            //window.onfocus = function() { blurred && (location.reload()); };
          }
      </script>
            <ul>
                    <li><a class="active" href="#home">Personal</a></li>
                    <!-- <li><p style="color: white; margin-right: 20px;">Filter/serach</p></li> -->
                    <li><a class="active" href="#home">Filter/serach</a></li>
                    <li><a class="active" href="#Salary">Salary</a></li>
                    <li><a class="active" href="#Performance">Performance</a></li>
                    <li><a href="/logout">logout</a></li>
                  </ul>                  
        <h1>Get Data</h1>
        <table border="1">
            <tr>
                <!-- <td> <input type="button" value="Delete ALL" onclick="msg()"></td> -->
                <td>Delete</td>
                <td>View/update</td>
                <td>image</td>
                <!-- <td>id</td> -->
                <td>Name</td>
                <td>lastName</td>
                <td>midelname</td>
                <td>birthday</td>
                <td>Address1</td>
                <td>zipcode</td>
                <td>city</td>
                <td>Country</td>
                <td>code</td>
                <td>Mobile_Number</td>
                <td>Gender</td>
                <td>Hobby</td>
                <td>Email</td>
                <td>Password</td>
               <!--  <td>image</td> -->
                <td>message</td>
                <td>dateofjoin</td>
                <td>Interest</td>
                <td>Blood_Group</td>
                <td>Branch</td>
                <td>Roal</td>
            </tr>
            <!-- <img src="http://localhost:3000/public/upimage/Screenshot from 2019-01-09 15-02-55.png>" -->
            <!-- <img src="upimage/1.png" alt="nf"> --> <!-- working -->
            <% for(var i=0; i < data.length; i++) {%>
              <% var image = data[i].image %>
                <tr>
                   <!--  <td><input type="checkbox" value="<%= data[i]._id %>"></td> -->
                    <td> <a href="/delete/<%= data[i]._id %>"> delete</a></td>
                    <td> <a href="/view/<%= data[i]._id %>"> view/update</a></td> 
                    <td><img src="/upimage/<%=image%>"  alt="inotf" width="auto" height="30"></td>
                    <!-- <% var carName = "1.png"; %>
                    <% console.log(carName); %>
                    <img src="/upimage/<%=carName%>" alt="not image" width="auto" height="40"> -->
                   <!--  <td><%= data[i]._id %></td> -->
                    <td><%= data[i].Name %></td>
                    <td><%= data[i].lastName %></td>
                    <td><%= data[i].midelname %></td>
                    <td><%= data[i].birthday %></td>
                    <td><%= data[i].Address1 %></td>
                    <td><%= data[i].zipcode %></td>
                    <td><%= data[i].city %></td>
                    <td><%= data[i].Country %></td>
                    <td><%= data[i].code %></td>
                    <td><%= data[i].Mobile_Number %></td>
                    <td><%= data[i].Gender %></td>
                    <td><%= data[i].Hobby %></td>
                    <td><%= data[i].Email %></td>
                    <td><%= data[i].Password %></td>
                   <!--  <td><%= data[i].image %></td> -->
                    <td><%= data[i].message %></td>
                    <td><%= data[i].dateofjoin %></td>
                    <td><%= data[i].Interest %></td>
                    <td><%= data[i].Blood_Group %></td>
                    <td><%= data[i].Branch %></td>
                    <td><%= data[i].roal %></td>
                    <!-- <td><input type="button" value="Edit/Update" onclick="updatedata(data[i]._id)"></td>
                    <td><input type="button" value="Delete"></td> -->
                </tr>
             <% } %>
            </table>
            <script>
                    function updatedata(data){
                        console.log(data);
                    }
                </script>
    </body>
</html>