<html>
    <body>
        <form method="get" action="/onlydata">
            <!-- Name<input type=text value="<%= body.fname %>"><br>
            pic<input type=text value="<%= body.pictext %>"> -->
            
            Name<input type=text value="<%= body.name %>"><br>
            Middle<input type=text value="<%= body.middle %>"><br>
            Last<input type=text value="<%= body.last %>"><br>
            BirthDate<input type=text value="<%= body.bday %>"><br>
            Address<input type=text value="<%= body.Address1 %>"><br>
            ZipCode<input type=text value="<%= body.ZipCode %>"><br>
            city<input type=text value="<%= body.city %>"><br>
            Country<input type=text value="<%= body.Country %>"><br>
            code<input type=text value="<%= body.code %>"><br>
            Mobile_Number<input type=text value="<%= body.Mobile_Number %>"><br>
            Gender<input type=text value="<%= body.gender %>"><br>
            Hobby<input type=text value="<%= body.Hobby %>"><br>
            Email<input type=text value="<%= body.email %>"><br>
            Password<input type=text value="<%= body.psw %>"><br>
            Repeat<input type=text value="<%= body.repeat %>"><br>
            Picture<input type=text value="<%= body.pictext %>"><br>
            Message<input type=text value="<%= body.message %>"><br>
            Role<input type=text value="<%= body.message %>"><br>
            Date of joining<input type=text value="<%= body.doj %>"><br>
            Blood_Group<input type=text value="<%= body.Blood_Group %>"><br>
            Branch<input type=text value="<%= body.Branch %>"><br>
            List of Skills<input type=text value="<%= body.Interest %>"><br>
            <!-- All things pass by name -->
        </form>
        <div class="container signin">
            <p><a href="change.ejs">change password?</a></p>
          </div>
    </body>
</html>